.footer-section {
  background: $background-dark-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section .container {
  display: flex;
}

.footer-section .footer-navigation {
  display: flex;
  flex-direction: column;
}

.footer-navigation {
  margin-right: 70px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  @extend .logo;
  margin-bottom: 20px;
}

.logo-part-two {
  color: $primary-white-color;
}

.address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: $primary-white-color;
}

.footer-phone {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: $secondary-white-color;
}

.footer-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $primary-white-color;
}

.footer-social-container {
  padding-top: 12px;
  margin-right: 93px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $third-white-color;

  transition: background-color $transition-time $cubic;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: $primary-white-color;
}

.email-container {
  padding-top: 12px;
}

.footer-form {
  display: flex;
  align-items: center;
}

.email-field {
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: $background-dark-color;
  margin-right: 12px;
  padding-left: 16px;
  color: $secondary-white-color;

  &::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: $secondary-white-color;
  }
}

.subscribe-button {
  @extend .button;
  display: inline-flex;
  padding: 10px 28px;
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
